<!DOCTYPE html>
<html>
<head>
  <title>Children match</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "children_match/application", media: "all" %>
  <%= javascript_include_tag "children_match/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
