<div class="container">
  <div class="row">
    <div class="col-12 my-3">
      <div class="card">
        <div class="card-header">
          <span class="h6">第二十四届全国中小学生绘画书法作品比赛广西赛区参赛报名结果查询</span>
        </div>
        <% form_fields = Entry.new(result: @match).set_show_values %>
        <% prize_field = form_fields.find {|field| field.values.first["label"].match(/评奖/)} %>
        <% name_field = form_fields.find {|field| field.values.first["label"].match(/姓名/)} %>

        <% prize_field.values.first %>

        <div class="card-body">

          <div class="card mb-3">
            <div class="card-header orange lighten-1">
              评奖结果
            </div>
            <div class="card-body">
              <% prize = prize_field.values.first["value"].to_s %>
              <% case %>
              <% when prize.empty? %>
                您的作品尚在评审中，请等待结果公布。
              <% when prize.match(/特等奖/) %>
              恭喜<%= name_field.values.first["value"] %>同学，你的第二十四届全国中小学生绘画书法作品比赛参赛作品获得复评一等奖！你的获奖作品已被选送全国组委会参加终评，冲击全国一等奖，自愿参加终评请点击下方链接。
              <% when prize.match(/一等奖/) %>
              恭喜<%= name_field.values.first["value"] %>同学，你的第二十四届全国中小学生绘画书法作品比赛参赛作品获得复评<%= prize %>！你的获奖作品已被选送全国组委会参加终评，冲击全国<%= prize %>，自愿参加终评请点击下方链接。
              <% when prize.match(/二等奖/) %>
              恭喜<%= name_field.values.first["value"] %>同学，你的第二十四届全国中小学生绘画书法作品比赛参赛作品获得复评<%= prize %>！你的获奖作品已被选送全国组委会参加终评，冲击全国<%= prize %>，自愿参加终评请点击下方链接。
              <% when prize.match(/三等奖/) %>
              恭喜<%= name_field.values.first["value"] %>同学，你的第二十四届全国中小学生绘画书法作品比赛参赛作品获得复评<%= prize %>！你的获奖作品已被选送全国组委会参加终评，冲击全国<%= prize %>，自愿参加终评请点击下方链接。
              <% when prize.match(/优胜奖/) %>
              恭喜<%= name_field.values.first["value"] %>同学，你的参赛作品获得复评优胜！
              <% end %>

            </div>
          </div>

          <div class="card-text">
          <%# byebug %>
          <% form_fields.each do |field_hash| %>
            <% v = field_hash.values.first %>
            <p class="mb-1">
              <b><%= v["label"] + ":"%></b>
              <%= v["value"] %>
            </p>
          <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <%= link_to '返回', { controller: "matches", action: 'index'}, class: "btn btn-sm btn-primary" %>
    </div>



  </div>
</div>
