<div class="container">
  <div class="row">
    <div class="col-12 my-3">
      <div class="card">
        <div class="card-header">
          <span class="h6">第二十四届全国中小学生绘画书法作品比赛全国终评入围及预估获奖结果查询
</span>
        </div>
        <% form_fields = Entry.new(result: @match).set_show_values %>
        <% prize_field = form_fields.find {|field| field.values.first["label"].match(/预计获全国奖项/)} %>
        <% name_field = form_fields.find {|field| field.values.first["label"].match(/姓名/)} %>

        <% prize_field.values.first %>

        <div class="card-body">

          <div class="card mb-3">
            <div class="card-header orange lighten-1">
              复评结果
            </div>
            <div class="card-body">
              <% prize = prize_field.values.first["value"].to_s %>
              <% case %>
              <% when prize.empty? %>
                很遗憾您的作品未入围“第二十四届全国中小学生绘画书法作品比赛”全国赛终评，感谢您的参与，愿您下届比赛能取得优异成绩！
              <% when prize.match(/一等奖或二等奖/) %>
              <%= name_field.values.first["value"] %>同学，你的参赛作品入围“第二十四届全国中小学生绘画书法作品比赛”全国终评，并获得参与全国终评一、二等奖评选的资格，祝贺你！如果你自愿参加全国终评请点击“自愿参赛”。
              <% when prize.match(/二等奖或三等奖/) %>
              <%= name_field.values.first["value"] %>同学，你的参赛作品入围“第二十四届全国中小学生绘画书法作品比赛”全国终评，并获得参与全国终评二、三等奖评选的资格，祝贺你！如果你自愿参加全国终评请点击“自愿参赛”。
              <% when prize.match(/未入选/) %>
              很遗憾您的作品未入围“第二十四届全国中小学生绘画书法作品比赛”全国赛终评，感谢您的参与，愿您下届比赛能取得优异成绩！
              <% end %>

              <% if prize.match(/一等奖或二等奖|二等奖或三等奖/) %>
                <div class="col-12 mt-3 d-flex  justify-content-around ">
                  <%= link_to '自愿参赛', 'https://jinshuju.net/f/5twzly', class: "btn btn-sm btn-success" %>
                  <%= link_to '结果查询', 'https://jinshuju.net/f/5twzly/s/re0bU4', class: "btn btn-sm btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>

          <div class="card-text">
          <%# byebug %>
          <% form_fields.each do |field_hash| %>
            <% v = field_hash.values.first %>
            <p class="mb-1">
              <b><%= v["label"] + ":"%></b>
              <%= v["value"] %>
            </p>
          <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <%= link_to '返回', { controller: "matches", action: 'index'}, class: "btn btn-sm btn-primary" %>
    </div>



  </div>
</div>
